<!DOCTYPE html>
<html lang="en" ng-app="Cursos">
<% include partials/head/headHome/head%>

<body>
  <% include partials/navbar/nav%>

  <div class="container " ng-controller="filter-cursos">
    <div class="row">
      <div class="col-sm-8 col-md-3 border-rigth mt-3 ">
        <div class="input-group ">
          <div class="input-group-prepend">
            <button class="btn btn-danger" type="button" id="button-addon1">Buscar</button>
          </div>
          <input type="text" class="form-control border" ng-model="search" placeholder="¿Qué curso buscas?"
            aria-describedby="button-addon1">
        </div>
        <div class="form-group mt-4">
            <h6>Categorias</h6>
            <hr>
            <div class="mt-3" ng-repeat="e in categorias">
              <label class="color-check container-check-search dbl" for="{{e.id_categoria}}"> {{e.type}}
                <input type="radio" name="categorias" id="{{e.id_categoria}}" value="{{e.type}}" ng-model="e.isChecked"
                  ng-click="FunctCategorias(this.e)" ng-dblclick="dblClick()">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>

      </div>
      <div class="col-md-8">
        <nav class="navbar navbar-light bg-light">
          <span class="navbar-text">
            Cursos disponibles
          </span>
          <button type="button" class="btn btn-light float-right" style="background: #c3c7ca;">
            Resultados <span class="badge badge-light">{{countCourses}}</span>
          </button>
        </nav>

        <!-- <hr> -->
        <div ng-repeat="x in dataCourses.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | filter: search">
           <div class="gift row">
          <div class="gift__img col-sm-3 col-12">
            <img ng-src="./Imagenes/{{x.Imagen}}" />
            <div class="gift__rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star fa-star-half-o"></i>
              <i class="fa fa-star fa-star-o"></i>
              <span class="gift__rating-number">90</span></div>
          </div>
          <div class="gift__info col-sm-9 col-12">
            <h4 class="gift__name">{{x.Titulo}}<br /></h4>
            <div class="gift__details">
              <p><br />{{x.Informacion}}<br /><br /></p>
            </div>
            <div class="gift__bottom row">
              <div class="gift__price-wrap col-12 col-sm-6">
                <div class="gift__normal-price"></div>
                <div class="gift__today-price"></div>
                <h3 class="gift__name">Precio: {{x.Precio | currency}}</h3>
              </div>
              <div class="gift__cta-wrap col-12 col-sm-6">
                <a class="btn btn-warning" 
                 href="/view-cursos?courses={{x.id_Curso}}">
                  Ver curso 
                  <i class="fa fa-th-list" aria-hidden="true"></i>
                </a>
              </div>
              <div class="gift__cta-wrap col-12 col-sm-6">
                <a class="btn btn-dark"  href="/shopping-cart">
                  Add Carrito <i class="fas fa-shopping-cart"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        </div>
        <div class="row">
            <div class="col">
              <div class="row d-flex justify-content-center">
                <ul uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize"
                  class="pagination-sm m-2 float-left" boundary-link-numbers="true" rotate="false"
                  ng-change="pageChanged()"></ul>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <% include partials/footer/footer%>
  <% include partials/script/script%>
</body>

</html>