<!DOCTYPE html>
<html lang="en" ng-app="Cursos">
<% include partials/head/headHome/head%>

<body>
  <% include partials/navbar/nav%>






  <% include partials/footer/footer%>
  <% include partials/script/script%>
</body>

</html>