<!DOCTYPE html>
<html ng-app="Cursos">
<% include partials/head/headHome/head%>

<body>
    <% include partials/navbar/nav%>
    <div class="landing-threshold"
        style="background-image: url(&quot;assets/img/computer-1245714_1920.jpg&quot;);color: rgb(0,0,0);">
        <div class="container-fluid" style="background-color: rgba(0,0,0,0.63);height: 758px;">
            <div class="landing-intro">
                <h1>Aprende con&nbsp;<span class="brand"
                        alt="Webim Papua New Guinea, Located in Garden Hills, Port Moresby">Lab<span>Code</span></span>
                </h1>
                <a class="btn btn-outline-light" href="#"
                    >Ver cursos</a>
            </div>
            <div class="d-flex justify-content-between landing-cta-group"><span class="align-self-end social-links"><a
                        href="https://www.facebook.com/Webim-PNG-100236798021993" target="_blank"><i
                            class="fa fa-facebook"></i></a><a
                        href="https://www.pinterest.com/0kybwxsjpsixrwndk5tstfuc9yvk64"><i
                            class="fa fa-pinterest-p"></i></a><a href="#"><i class="fa fa-youtube-play"></i></a><a
                        href="https://www.instagram.com/webim.png/" target="_blank"><i
                            class="fa fa-instagram"></i></a><a
                        href="https://www.linkedin.com/in/arnold-forova-b12610170/" target="_blank"><i
                            class="fa fa-linkedin"></i></a></span>
                <div class="btn-group-vertical align-self-center" role="group"></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-12">
                <div class="container">
                    <h1
                        style="margin-top:52px;margin-left:34px;font-family:'Open Sans', sans-serif;font-size:22px;font-weight:800;line-height:32px;color:rgb(0,0,0);">
                        Categorias disponibles</h1>
                    <div class="cust_bloglistintro">
                        <p style="margin-left:34px;color:rgba(255,255,255,0.5);font-size:14px;"></p>
                    </div>
                    <div class="row">
                        <div class="col-md-4 cust_blogteaser" style="padding-bottom:20px;margin-bottom:32px;"><a
                                href="#"><img class="img-fluid" style="height:auto;"
                                    src="assets/img/american-1209605_1920.jpg"></a>
                            <h3
                                style="text-align:left;margin-top:20px;font-family:'Open Sans', sans-serif;font-size:18px;margin-right:0;margin-left:24px;line-height:34px;letter-spacing:0px;font-style:normal;font-weight:bold;">
                                Ingles<br></h3><a class="h4" href="#"><i class="fa fa-arrow-circle-right"
                                    style="margin-left:23px;"></i></a>
                        </div>
                        <div class="col-md-4 cust_blogteaser" style="padding-bottom:20px;margin-bottom:32px;"><a
                                href="#"><img class="img-fluid" style="height:auto;"
                                    src="assets/img/code-1839406_1920.jpg"></a>
                            <h3
                                style="text-align:left;margin-top:20px;font-family:'Open Sans', sans-serif;font-size:18px;margin-right:0;margin-left:24px;line-height:34px;letter-spacing:0px;font-style:normal;font-weight:bold;">
                                Programacion web&nbsp;<br></h3><a class="h4" href="#"><i
                                    class="fa fa-arrow-circle-right" style="margin-left:23px;"></i></a>
                        </div>
                        <div class="col-md-4 cust_blogteaser" style="padding-bottom:20px;margin-bottom:32px;"><a
                                href="#"><img class="img-fluid" style="height:auto;"
                                    src="assets/img/cloud-computing-3669664_1920.jpg"></a>
                            <h3
                                style="text-align:left;margin-top:20px;font-family:'Open Sans', sans-serif;font-size:18px;margin-right:0;margin-left:24px;line-height:34px;letter-spacing:0px;font-style:normal;font-weight:bold;">
                                &nbsp;Administrador de nube&nbsp;<br></h3><a class="h4" href="#"><i
                                    class="fa fa-arrow-circle-right" style="margin-left:23px;"></i></a>
                        </div>
                        <div class="col-md-4 cust_blogteaser" style="padding-bottom:20px;margin-bottom:32px;"><a
                                href="#"><img class="img-fluid" style="height:auto;"
                                    src="assets/img/database-schema-1895779_1280.png"></a>
                            <h3
                                style="text-align:left;margin-top:20px;font-family:'Open Sans', sans-serif;font-size:18px;margin-right:0;margin-left:24px;line-height:34px;letter-spacing:0px;font-style:normal;font-weight:bold;">
                                Bases de datos&nbsp;</h3><a class="h4" href="#"><i class="fa fa-arrow-circle-right"
                                    style="margin-left:23px;"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include partials/footer/footer%>
    <% include partials/script/script%>
</body>
</html>