<!DOCTYPE html>
<html lang="en" ng-app="Cursos">
<% include partials/head/headHome/head%>

<body>
  <% include partials/navbar/nav%>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">cursos/listas</a>

    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/shopping-cart">carrito</a>
        </li>

      </ul>
      <span class="navbar-text">
        Todos los derechos reservados
      </span>
    </div>
  </nav>


  <% include partials/footer/footer%>
  <% include partials/script/script%>
</body>

</html>