<!DOCTYPE html>
<html lang="en" ng-app="Cursos">
<% include partials/head/headHome/head%>

<body>
  <% include partials/navbar/nav%>
  <div class="container" ng-cloak ng-controller="shopping-cart">
    <div class="row">
      <div class="col-md-12">
        <h2>Shopping Cart</h2>
        <table class="table table-bordered table-dark">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Title</th>
              <th scope="col">Price</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody ng-repeat="x in Shopping">
            <tr>
              <div class="jumbotron jumbotron-fluid" ng-hide="lengthEmpty">
                <div class="container">
                  <h1 class="display-4">Hola {{name}}</h1>
                  <p class="lead">Tu carrito actualmente esta vacio.</p>
                </div>
              </div>
              <td>
                <ul class="list-unstyled">
                  <li class="media">
                    <img ng-src="imagenes/{{x.Imagen}}" class="mr-3" style="width: 100px;">
                    <div class="media-body">
                      <h5 class="mt-0 mb-1"></h5>

                    </div>
                  </li>
              </td>
              <td>{{x.Titulo}}</td>
              <td>{{x.Precio | currency}}</td>
              <td><button type="button" class="btn btn-danger" ng-click="deleteCourses(x)"> <i class="fa fa-trash-o"
                    aria-hidden="true"></i>
                  Eliminar</button></td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-md-4 ">
            <div class="jumbotron jumbotron">
              <div class="container">
                <h6>Total</h6>
                <p class="lead"> {{Total | currency}}</p>
              </div>
              <button class="btn btn-success btn-block btn-lg" ng-click="ListPayment()"><i class="fa fa-credit-card" aria-hidden="true"></i>
                Pagar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% include partials/footer/footer%>
  <% include partials/script/script%>
</body>

</html>