<!DOCTYPE html>
<html ng-app="Cursos">
<% include partials/head/headHome/head%>
<body ng-cloak>
  <% include partials/navbar/nav%>
  <div class="container" ng-controller="view-courses">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8">
        <div class="text-center">
          <h4>{{dataCourse.Titulo}}</h4>
          <img  ng-src="./Imagenes/{{dataCourse.Imagen}}" class="img-fluid" alt="Responsive image">
        </div>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col">
            <h3>Requisitos</h3>
            <p>{{dataCourse.Requisitos}}</p>
          </div>
          <div class="col">
            <h3>Información</h3>
            <p>{{dataCourse.Informacion}}</p>
          </div>

        </div>
        <div class="row">
          <div class="col">
            <h3>Profesor</h3>
            <p>{{dataCourse.nombre_profesor}}</p>
          </div>
          <div class="col">
            <h3>Categoria</h3>
            <p>{{ dataCourse.Categorias}}</p>
          </div>

        </div>
        <div class="row">
          <div class="col ">
            <div class="gift__cta-wrap col-12 col-sm-6">
              <a class="btn btn-dark btn-block" href="/shopping-cart">
                Add Carrito <i class="fas fa-shopping-cart"></i>
              </a>
            </div>
          </div>
          <div class="col">
              <div class="gift__cta-wrap col-12 col-sm-6">
                  <a class="btn btn-danger btn-block" href="/payment">
                    Pagar <i class="fas fa-shopping-cart"></i>
                  </a>
                </div>
            <!-- <h3 class="card-title pricing-card-title">B/200.00 </h3> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <% include partials/footer/footer%>
  <% include partials/script/script%>
</body>

</html>