<!DOCTYPE html>
<html lang="en" ng-app="Cursos">
<% include partials/head/headHome/head%>

<body>
  <% include partials/navbar/nav%>
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8">
        <div class="text-center">
          <h4>Curso de programación web </h4>
          <img src="./assets/img/computer-1245714_1920.jpg" class="img-fluid" alt="Responsive image">
        </div>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col">
            <h3>Requisitos</h3>
            <p>es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de
              relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica
              a la imprenta)</p>
          </div>
          <div class="col">
            <h3>Información</h3>
            <p>es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de
              relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica
              a la imprenta)</p>
          </div>

        </div>
        <div class="row">
          <div class="col">
            <h3>Profesor</h3>
            <p>Eduardo Flores</p>
          </div>
          <div class="col">
            <h3>Categoria</h3>
            <p>Cursos de Programacion</p>
          </div>

        </div>
        <div class="row">
          <div class="col ">
            <div class="gift__cta-wrap col-12 col-sm-6">
              <a class="btn btn-dark btn-block" href="/shopping-cart">
                Add Carrito <i class="fas fa-shopping-cart"></i>
              </a>
            </div>
          </div>
          <div class="col">
              <div class="gift__cta-wrap col-12 col-sm-6">
                  <a class="btn btn-danger btn-block" href="/payment">
                    Pagar <i class="fas fa-shopping-cart"></i>
                  </a>
                </div>
            <!-- <h3 class="card-title pricing-card-title">B/200.00 </h3> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <% include partials/footer/footer%>
  <% include partials/script/script%>
</body>

</html>