<nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button" ng-cloak
    ng-controller="ctrl-inicio-session">

    <div class="container">
        <a class="navbar-brand" href="/" style="font-size: 31px;">
            <span class="brand"
                alt="Webim Papua New Guinea, Located in Garden Hills, Port Moresby">Lab<span>Code</span></span>
        </a>
        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
            <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav mr-auto">
                <!-- <li class="nav-item" role="presentation"><a class="nav-link active" href="/nosotros">Sobre nosotros</a>
                </li> -->
                <li class="nav-item" role="presentation"><a class="nav-link" href="/cursos">Lista de cursos</a></li>
            </ul>
            <span class="navbar-text actions" ng-hide="sessionStart">
                <a class="login" href="#" data-toggle="modal" data-target="#registro" data-backdrop="false">Crear
                    Cuenta</a>
                <a class="btn btn-light action-button" role="button" href="#" style="background-color: rgb(215,182,5);"
                    data-toggle="modal" data-target="#inicio">Iniciar sesion</a>
            </span>
            <button ng-hide="userActive" type="button" class="btn btn-light m-1" style="border: solid 1px grey;"
                ng-click="loadShoppingCart()">
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                Carrito
                <span class="badge badge-danger">{{countShopping}}</span>
            </button>
            <div ng-hide="userActive">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i> {{name}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/shopping-cart">ver Carrito</a>
                        <a class="dropdown-item" href="/mis-cursos">Mis cursos <span
                                class="badge badge-danger">{{countMycourses}}</span></a>
                        <a class="dropdown-item" href="#" ng-click="close_session()">Cerrar Sesión</a>
                    </div>
                </div>
            </div>


            <!-- modales -->
            <div class="modal fade " id="inicio" tabindex="-1" role="dialog" data-backdrop="false"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="background: #00000061; ">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Inicio de sesion en <span class="brand"
                                    alt="Webim Papua New Guinea, Located in Garden Hills, Port Moresby">Lab<span>Code</span></span>
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="formSesion">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="Ingresa tu email">
                                </div>
                                <div class="form-group">
                                    <label for="Password">Contraseña</label>
                                    <input type="password" class="form-control" id="Password" name="password"
                                        placeholder="Ingresa tu Contraseña">
                                </div>
                                <button type="button" class="btn btn-dark btn-block"
                                    ng-click="session_start ();">Iniciar sesion</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- modales -->
            <div class="modal fade" id="registro" tabindex="-1" role="dialog" data-backdrop="false"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="background: #00000061;">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Crear cuenta en <span class="brand"
                                    alt="Webim Papua New Guinea, Located in Garden Hills, Port Moresby">Lab<span>Code</span></span>
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="formRegister">
                                <div class="form-group">
                                    <label for="nombre">Nombre</label>
                                    <input type="text" class="form-control" id="nombre" name="nombre"
                                        placeholder="Ingresa tu Nombre de usuario">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="Ingresa tu email">
                                </div>
                                <div class="form-group">
                                    <label for="Password">Contraseña</label>
                                    <input type="password" class="form-control" id="password" name="password"
                                        placeholder="Ingresa tu Contraseña">
                                </div>
                                <button type="button" class="btn btn-dark btn-block" ng-click="register_users()">Crear
                                    cuenta</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</nav>