.container-check-search {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-check-search input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  border: solid 1px #d0c5c5;
  position: absolute;
  top: 0;
  left: 0;
  height: 19px;
  width: 19px;
  background-color: #ffffff;

}

.border-rigth {
  border-right: solid 1px #d2d7dc !important;
}
.color-check:hover {
  color: #f5ba17 !important;
}

/* When the checkbox is checked, add a blue background */
.container-check-search input:checked~.checkmark {
  border-color: #dc0505;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-check-search input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-check-search .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 12px;
  border: solid #dc0505;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}



  /* ----------- dispositivos móviles ----------- */
  @media only screen and (min-width: 1199) and (max-width: 1200px) {
    .overlay {
      width: 0%;    
    }
  }
  
  /* cambios css para modo vertical y horizontal */
  @media only screen and (min-width: 320px) and (max-width: 756px) {
  
    .overlay {
      height: 0%;
      width: 100%;
      position: fixed;
      z-index: 2000;
      top: 0;
      right: 0;
      padding-right: 15px;
      padding-left: 15px;
      background-color: #ffffff;
      overflow-x: hidden;
      transition: 0.10s;
    }
  
    .overlay-content {
      position: relative;
      top: 25%;
      width: 100%
    }
  
    .overlay a {
      padding: 8px;
      text-decoration: none;
      font-size: 36px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }
  
    .overlay a:hover,
    .overlay a:focus {
      color: #f1f1f1;
    }
  
    .overlay .closebtn {
     top: -10px;
      right: 34px;
      font-size: 54px;
    }
  
    .col-movile {
      /* width: 100% !important; */
      height: 100% !important;
  
    }
    .overlay a {
      font-size: 20px
    }
  
    .overlay .closebtn {
      font-size: 40px;
      margin-top: -15px;
      right: 35px;
    }
  }
  

  .codeLabBtn {
    border-radius: 0 !important;
  }